/* Universal to every page */
*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    overflow: auto;
}
body{
    font: 1.2em 'Times New Roman', Serif;
    background: linear-gradient(-45deg,#EF3B36,#d9a7c7, #fffcdc);
    background-size: 500% 500%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-image: linear-gradient(#FFAF7B,#D76D77,#3A1C71);
    width:100%;
    text-align: center;
    padding: 1em 0;
}
header > h1{
    color:whitesmoke;
}

a{
    text-decoration: none;
    color:white;
    position: relative;
}
#footer_link {
    color:black;
}

a:not(.form_button):visited{
    color:gray;
}
a:hover{
    color:blue;
}
a:active{
    color:green;
}

nav{
    background-color: black;
}
nav > ul> li{
    display: inline-block;
    margin: 1em;
}
li > a::after{
    content: '';
    background: whitesmoke;
    height: 1px;
    width:0%;
    transition: .5s;

    position: absolute;
    bottom:0;
    left: 0;
}
a:hover::after{
    width: 100%;
}

footer{
    background-color: whitesmoke;
    text-align: center;
    padding: 1em;
    
}
.title{
    text-align: center;
    margin:1em;
}
.info_block{
    border: 1px solid black;
    background-color: white;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

tr:nth-child(odd){
    background-color:#fbeaff; 
}
tr:nth-child(even){
    background-color: #b39cd0;
}
tr:hover{
    background-color: #d65db1;
}
caption,th{
    color:white;
    background-color: #845ec2;
}
caption,td,th{
    text-align: center;
    padding:1em;
}
.no_radius{
    border-radius: 0%;
    border: 1px solid black;
}

dd{
    margin-left: 1em;
}

.bold{
    font-weight: bold;
}
/*-------------------------------------*/